@page
@model RehabAid.Web.Areas.Facilities.Pages.Guardian.DetailsModel
@{
}
@section breadcrumb{
    <a class="breadcrumb-item" asp-page="/Guardian/Index">Guardians</a>
    <a class="breadcrumb-item" asp-page=".">Details</a>
}
@using Humanizer

<div class="">
    <div class="card shadow">
        <div class="card-body">


            <div class="form-group row">
                <label class="col-md-3 text-muted">First Name</label>
                <div class="col-md-9"><div class="label-value">@Model.Guardian.FirstName</div></div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 text-muted">Surname</label>
                <div class="col-md-9"><div class="label-value">@Model.Guardian.Surname</div></div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 text-muted">Phone Number</label>
                <div class="col-md-9"><div class="label-value">@Model.Guardian.PhoneNumber</div></div>
            </div>


            <div class="form-group row">
                <label class="col-md-3 text-muted">Email</label>
                <div class="col-md-9"><div class="label-value">@Model.Guardian.Email</div></div>
            </div>
            @*<div class="form-group row">
                    <label class="col-md-3 text-muted">Gender</label>
                    <div class="col-md-9"><div class="label-value">@Model.Patient.Gender.Humanize(Humanizer.LetterCasing.Sentence)</div></div>
                </div>*@

            <div class="form-group row">
                <label class="col-md-3 text-muted">Address</label>
                <div class="col-md-9"><div class="label-value">@Model.Guardian.Address</div></div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 text-muted">Treatment Facility</label>
                <div class="col-md-9"><div class="label-value">@Model.Guardian.Facility.Name</div></div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 text-muted">Patient</label>
                <div class="col-md-9"><div class="label-value"> @(Model.Guardian.Patient.FirstName + " " + Model.Guardian.Patient.Surname)</div></div>
            </div>


        </div>
    </div>
</div>

@section sidebar{

}