@page
@model RehabAid.Web.Areas.Facilities.Pages.Guardian.ProgressReports.IndexModel
@{
}
@section breadcrumb{
    <a class="breadcrumb-item" asp-page="Specialists/Index">Progress Reports </a>

}

@if (User.IsSysUser() || User.IsSpecialist())
{
    <div class="btn-toolbar float-end d-inline pb-3">
        <a class="btn btn-sm btn-outline-secondary " asp-page="Add"><i class="fa fa-pluss"></i> Add new Progress Report</a>
    </div>
}





<h4 class="font-weight-light text-primary"><strong>@Model.List.TotalItemCount</strong> Progress Report@(Model.List.TotalItemCount == 1 ? "" : "s") @(Model.QueryString != null ? "" : "found")</h4>
<table class="table table-striped table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Patient</th>
            <th scope="col">Creation Date</th>
            <th scope="col">Prescription</th>
            <th scope="col">Therapy Review</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                @*<td>
                        <a asp-page="./Details" asp-route-id="@item.Id">@item.Specialist.Fullname</a>
                    </td>*@
                <td><a asp-page="./Details" asp-route-id="@item.Id">@item.Patient.Fullname</a></td>
                <td>@item.CreateDate</td>
                <td>@item.MedicineLog.Name</td>
                <td>@item.TherapyReview</td>
            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>

</table>